body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	color: #474a51;
	font-family: 'Urbanist', sans-serif;
	size: 20px;
	background-color: #ffffff;
	overflow: hidden;
}
body a {	
	color: #474a51;	
	font-weight: 900;
}

/********************/
/****** header ******/
/********************/
header {
	background-color: #fdf5e7e6;	
	position: relative;
}
.header-container {
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 20px;
}
.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-left h1 {
	font-weight: 900;
	font-size: calc(18px + 8 * ((100vw - 320px) / (1880 - 320)));	
}
.header-logo {
	margin-right: 20px;
}
#audio-player {
	display: none;
}
.score-button {
	font-weight: 900;
	font-size: calc(18px + 8 * ((100vw - 320px) / (1880 - 320)));	
	letter-spacing: 1.2px;
}
.score {
	position: absolute;	
	top: -100px;
	right: calc(50% - 190px);
	background-color: #fff;
	transition: all ease-in-out 0.3s;	
	z-index: 100;
}
.score.active {
	position: absolute;
	display: block;
	top: 75px;
	right: calc(50% - 190px);
	background-color: #fff;
	transition: all ease-in-out 0.3s;
}
table {
	border-collapse: collapse;
	border: 2px solid #fff;
}
td, th {
	border: 1px solid black;
	padding: 10px 10px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1.2px;
}
@media (max-width: 480px) {
	.header-container {		
		padding: 5px 10px;
	}
	.header-logo {
		width: 35px;
		height: 35px;
	}
}

/********************/
/****** main ******/
/********************/

main {
	height: calc(100% - 130px);
	position: relative;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-153px, -153px);
	margin: 0 auto;
	width: 306px;
	height: 306px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.box {
	width: 100px;
	height: 100px;	
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	background-color: #fdf5e7e6;
	margin: 1px;		
}
.modal-result-wrapper {
	font-size: 20px;
	font-weight: 700;	
}
.modal-result-wrapper.hidden {
	display: none;
}
.overlay {
	position: absolute;
	left: 0;
	right: 0;	
	width: 100%;
	height: 100%;
	background-color: rgb(195 195 195 / 53%);	
}
.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-152.5px, -152.5px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 305px;
	height: 304px;
	background-color: #fff;
	opacity: 0.9;
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 72px;
}
.grac {
	font-size: 26px;
	padding-bottom: 35px;	
}
.winner {
	align-self: center;
	line-height: 25px;
	padding: 5px 0;	
	align-self: start;
}
.winner img {
	margin: 0 0 0 20px;
	width: 25px;
	height: 25px;	
}
.winner span {
	margin-left: 12px;
}
.button {
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgb(219 201 167);		
}

@media (max-width: 480px) {
	main {
		height: calc(100% - 85px)
	}
}

/********************/
/****** FOOTER ******/
/********************/

footer {
	background-color: #fdf5e7e6;
	font-size: 18px;
	font-weight: 700;
}
.footer {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 60px;
}
.footer-left span:nth-child(2) {
	padding: 0 10px;
}
.footer a {	
	transition: ease-in-out 0.3s;
}
.footer-left a:hover {
	color: rgb(62 111 173);
	transition: ease-in-out 0.3s;
}
.volume {
	display: none;
}
.volume {
	transition: ease-in-out 0.3s;
}
.volume:hover {
	filter: invert(75%) sepia(225%) saturate(130%) hue-rotate(180deg) brightness(76%) contrast(91%);
	transition: ease-in-out 0.3s;
}
.footer-right img {
	filter: invert(67%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(100%) contrast(95%);
	transition: ease-in-out 0.3s;
}
.footer-right a:hover {
	filter: invert(65%) sepia(228%) saturate(113%) hue-rotate(178deg) brightness(77%) contrast(148%);
	transition: ease-in-out 0.3s;
}
@media (max-width: 480px) {
	.footer {	
		font-size: 16px;	
		padding: 5px 10px;
		height: 40px;
	}
	.rss-logo {
		width: 70.7px;
		height: 26.4px;
	}
}
